$base-font-family: 'Open Sans', 'Helvetic Neue', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.7;
$base-line-height: 1.5;

$header-background-color: black;
$brand-color: #ff701d;
$grey-color: lighten($color: grey, $amount: 30%);

$on-palm: 600px;
$on-laptop: 800px;
